<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Google font Oswald -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>{% block title %}Django Auth{% endblock %}</title>
    {% block style %}
    {% endblock %}
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>